
/* Home Page */
@media(min-width:240px){
    *{
        box-sizing: border-box;
        font-family: "Open Sans", sans-serif;
    }
    /* .d-flex{
        display: flex;
    } */
    .jus-con-btwn{
        justify-content: space-between;
    }
    .container{
        width: 85%;
        margin: auto;
    }
    .navi-bar{
        width: 100%;
        background-color: #fff; 
        position: sticky;   
        padding: 1rem;
        border-bottom: rgba(192, 189, 189, 0.37) 1px solid;
    }
    .logo{
        width: 20%;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
    }
    .logo h1{
        font-family: 'Poppins', sans-serif;
    }
    .navi{
        width: 70%;
    }
    .nav{
        display: flex;
    }
    .nav a{
        text-decoration: none;
        /* color:#2487ce; */
        color: #16507b;
        transition: 0.3s;
    }
    .navi li{
        display: flex;
        align-items: center;
    }
    .navi a:hover{
        color:#2487ce;
    }
    .nav-list{
        list-style: none;
        display: none;
    }
    #nav-diff{
        display: inline-block;
        background-color: #2487ce;
        color: #fff;
        padding: 0.7rem;
        border-radius: 4px;
    }
    #nav-diff{
        background: #3194db;
        color: #fff;
    }
    .bar{
        align-items: center;
        display: flex;
        color: #16507b;
    }

    
}
/* Media Query For Tablets  */
@media(min-width:560px){
    *{
        box-sizing: border-box;
        font-family: "Open Sans", sans-serif;
    }
    .d-flex{
        display: flex;
    }
    .jus-con-btwn{
        justify-content: space-between;
    }
    .container{
        width: 85%;
        margin: auto;
    }
    .navi-bar{
        width: 100%;
        background-color: #fff; 
        position: sticky;   
        padding: 1rem;
        border-bottom: rgba(192, 189, 189, 0.37) 1px solid;
    }
    .logo{
        width: 20%;
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
    }
    .logo h1{
        font-family: 'Poppins', sans-serif;
    }
    .navi{
        width: 80%;
    }
    .nav a{
        text-decoration: none;
        /* color:#2487ce; */
        color: #16507b;
        transition: 0.3s;
    }
    .navi li{
        display: flex;
        align-items: center;
    }
    .navi a:hover{
        color:#2487ce;
    }
    .nav-list{
        list-style: none;
        display: none;
    }
    #nav-diff{
        display: inline-block;
        background-color: #2487ce;
        color: #fff;
        padding: 0.7rem;
        border-radius: 4px;
    }
    #nav-diff{
        background: #3194db;
        color: #fff;
    }
    .bar{
        align-items: center;
        display: flex;
        color: #16507b;
    }
    
    
    
    
    
    }

/* Home Page */
/* Larger Devices like pc and Lappy */
    @media(min-width:990px){
        *{
            box-sizing: border-box;
            font-family: "Open Sans", sans-serif;
        }
        .d-flex{
            display: flex;
        }
        .jus-con-btwn{
            justify-content: space-between;
        }
        .container{
            width: 85%;
            margin: auto;
        }
        .padd-btm-5{
            padding-bottom: 5rem;
        }
        .navi-bar{
            width: 100%;
            background-color: #fff; 
            position: sticky;   
            padding: 1rem;
            border-bottom: rgba(192, 189, 189, 0.37) 1px solid;
        }
        .logo{
            width: 20%;
            font-size: 2rem;
            font-family: 'Poppins', sans-serif;
        }
        .logo h1{
            font-family: 'Poppins', sans-serif;
        }
        .navi{
            width: 80%;
            display: block;
        }
        .nav a{
            text-decoration: none;
            /* color:#2487ce; */
            color: #16507b;
            transition: 0.3s;
        }
        .navi li{
            display: flex;
            align-items: center;
        }
        .navi a:hover{
            color:#2487ce;
        }
        .nav-list{
            list-style: none;
        }
        #nav-diff{
            display: inline-block;
            background-color: #2487ce;
            color: #fff;
            padding: 0.7rem;
            border-radius: 4px;
        }
        #nav-diff{
            background: #3194db;
            color: #fff;
        }
        .bar{
            display: none;
        }
        /* Home Page */
        
        .home{
            width: 100%;
            position: relative;
            background-image: linear-gradient(#ffffffd6,#ffffffde), url("/Harish/assets/hero-bg.jpg");
            background-attachment: fixed;
        }
        .home::after{
            content: "";
            background-color: #fff;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.6;
        }
        .abt-us,.abt-flex{
            width: 100%;
        }
        .home-cont{
            text-align: center;
            width: 100%;
            align-self: center;
            padding: 1rem;
        }
        .home-cont h1 {
            font-size: 3.5rem;
            line-height: 4rem;
            font-weight: 700;
            font-family: "Poppins", sans-serif;
            margin-bottom: 1.5rem;
            color:#16507b;
            margin-top: 3rem;
            
        }
        .home-cont h2 {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
            margin-bottom: 1.5rem;
            color:grey;
        }
        .start{
            padding: 1rem 2.5rem;
            background-color: #2487ce;
            color: #fff;
            border: 1px solid #2487ce;
            border-radius: 5px;
            font-family: "Poppins", sans-serif;
            font-size: 1rem;

        }
        .start:hover{
            background: #3194db;
        }
        .home-flexbox{
            width: 100%;
            gap: 1.5rem;
        }
        .home-flex-item{
            padding: 50px 30px;
            position: relative;
            overflow: hidden;
            background: #fff;
            box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
            transition: all 0.3s ease-in-out;
            border-radius: 8px;
            z-index: 1;
        }
        .home-flex-item:hover{
            transform: scale(1.1);
        }
        .home-icon{
            font-size: 2rem;
            line-height: 1;
            color: #2487ce;
            margin-bottom: 1.5rem;
        }
        .home-flex-item a{
            text-decoration: none;
            color:#16507b;

        }
        .home-flex-item h3{
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .home-flex-item:hover h3 a{
            color: #2487ce;   
        }
        .home-flex-item p{
            font-size: 1rem;
            line-height: 1.5rem;
            margin-bottom: 0;
            font-family: "Open Sans", sans-serif;
            color: #444444;
        }

        /* About Us */
        .abt-title{
            width: 100%;
            text-align: center;
            padding-bottom: 2.5rem;
        }
        .abt-title h2{
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1.4rem;
            padding-bottom: 0;
            color: #124265;
            font-family: "Raleway", sans-serif;
        } 
        .abt-title p{
            margin-bottom: 0;
            font-size: 1rem;
            color: #919191;
        }
        
        .abt-flex-cont{
            width: 50%;
            font-family: "Open Sans", sans-serif;
            color: #444444;
            font-size: 1.1rem;
        }
        .abt-flex-cont p{
            line-height: 1.5;
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 1rem;
            font-family: "Open Sans", sans-serif;
            color: #444444;
        }
        /* #diff-cont{
            line-height: 1rem;!important
        } */
        .abt-icon{
            padding-right: 0.5rem;
        }
        .abt-list{
            list-style: none;
            margin-bottom: 1rem;
        }    
        .abt-list li{
            margin-top: 0.8rem;
        }
        .abt-butt{
            display: inline-block;
            padding: 0.8rem 2rem;
            background-color: #fff;
            border: 2px solid #2487ce;
            color: #2487ce;
            text-decoration: none;
            font-size: 1rem;
            font-family: "Raleway", sans-serif;
            letter-spacing: 1px;
            font-weight: 400;
            border-radius: 5px;
            margin-top: 0.5rem;
        }
        .abt-butt:hover{
            background-color: #2487ce;
            color: #fff;
        }







        }    